body.boxed, body.boxed .header-wrapper, body.boxed .is-sticky-section, body.boxed header, body.framed, body.framed .header-wrapper, body.framed header { max-width: 1170px; }
.header .flex-row { height: 100%; }
.flex-has-center > .flex-col:not(.flex-center), .flex-has-center > .flex-row > .flex-col:not(.flex-center), .flex-has-center > .nav-row > .flex-col:not(.flex-center) { flex: 1 1 0%; }
@media (-ms-high-contrast:none) { .nav > li > a > i { top: -1px; } }
.is-sticky-section + .sticky-section-helper { background-color: rgb(0, 0, 0); min-height: 100vh !important; }
.sticky-section-helper + div { background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 15px 15px 15px 15px; position: relative; }
.sticky-section { background-color: rgb(255, 255, 255); left: 0px; margin: 0px auto; overflow: hidden; right: 0px; top: 0px; height: 100vh !important; padding: 0px !important; position: sticky !important; width: 100% !important; }
.nav-dropdown { background-color: rgb(255, 255, 255); color: rgb(119, 119, 119); display: table; left: -99999px; margin: 0px; max-height: 0px; min-width: 260px; opacity: 0; padding: 20px 0px; position: absolute; text-align: left; transition: opacity 0.25s, visibility 0.25s; visibility: hidden; z-index: 9; }
.nav-dropdown::after { clear: both; content: ""; display: block; height: 0px; visibility: hidden; }
.nav-dropdown li { display: block; margin: 0px; vertical-align: top; }
.nav-dropdown li ul { margin: 0px; padding: 0px; }
.nav-dropdown > li.html { min-width: 260px; }
.next-prev-thumbs li.has-dropdown:hover > .nav-dropdown, .no-js li.has-dropdown:hover > .nav-dropdown, li.current-dropdown > .nav-dropdown { left: -15px; max-height: inherit; opacity: 1; visibility: visible; }
.nav-right li.current-dropdown:last-child > .nav-dropdown, .nav-right li.has-dropdown:hover:last-child > .nav-dropdown { left: auto; right: -15px; }
.nav-column li > a, .nav-dropdown > li > a { display: block; line-height: 1.3; padding: 10px 20px; width: auto; }
.nav-column > li:last-child:not(.nav-dropdown-col) > a, .nav-dropdown > li:last-child:not(.nav-dropdown-col) > a { border-bottom: 0px !important; }
.dropdown-uppercase.nav-dropdown .nav-column > li > a, .nav-dropdown.dropdown-uppercase > li > a { font-size: 0.85em; text-transform: uppercase; }
.nav-dropdown > li.image-column, .nav-dropdown > li.nav-dropdown-col { display: table-cell; min-width: 160px; text-align: left; white-space: nowrap; width: 160px; }
.nav-dropdown > li.image-column:not(:last-child), .nav-dropdown > li.nav-dropdown-col:not(:last-child) { border-right: 1px solid transparent; }
.nav-dropdown .menu-item-has-children > a, .nav-dropdown .nav-dropdown-col > a, .nav-dropdown .title > a { color: rgb(0, 0, 0); font-size: 0.8em; font-weight: bolder; text-transform: uppercase; }
.nav-dropdown .nav-dropdown-col .menu-item-has-children { margin-top: 5px; }
.nav-dropdown li.image-column { border: 0px !important; margin: 0px !important; padding: 0px !important; }
.nav-dropdown li.image-column > a { font-size: 0px !important; line-height: 0 !important; margin: -20px 0px !important; padding: 0px !important; }
.nav-dropdown li.image-column > a img { display: block; margin: 0px; width: 100%; }
.nav-dropdown li.image-column > a:hover { opacity: 0.8; }
.nav-dropdown-default li.image-column:first-child > a { margin-left: -20px !important; margin-right: 20px !important; }
.nav-dropdown-default li.image-column:last-child > a { margin-right: -20px !important; }
.nav-dropdown.nav-dropdown-bold > li.nav-dropdown-col, .nav-dropdown.nav-dropdown-simple > li.nav-dropdown-col { border-color: rgb(241, 241, 241); }
.nav-dropdown-default .nav-column li > a, .nav-dropdown.nav-dropdown-default > li > a { border-bottom: 1px solid rgb(236, 236, 236); margin: 0px 10px; padding-left: 0px; padding-right: 0px; }
.nav-dropdown-default { padding: 20px; }
.nav-dropdown-bold .nav-column li > a, .nav-dropdown.nav-dropdown-bold > li > a { border-radius: 10px; margin: 0px 10px; padding-left: 10px; padding-right: 5px; }
.nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover { background-color: var(--fs-color-primary); color: rgb(255, 255, 255) !important; }
.nav-dropdown-simple .nav-column li > a:hover, .nav-dropdown.nav-dropdown-simple > li > a:hover { background-color: rgba(0, 0, 0, 0.03); }
.nav-dropdown.nav-dropdown-bold li.html, .nav-dropdown.nav-dropdown-simple li.html { padding: 0px 20px 10px; }
.menu-item-has-block .nav-dropdown { padding: 0px; }
.menu-item-has-block .nav-dropdown .col-inner ul:not(.nav.nav-vertical) li:not(.tab):not([class^="bullet-"]) { display: list-item; margin-left: 1.3em !important; }
li.current-dropdown > .nav-dropdown-full, li.has-dropdown:hover > .nav-dropdown-full { display: flex; flex-wrap: wrap; position: fixed; right: auto; transform: translateX(-50%); width: 100%; left: 50% !important; margin-left: 0px !important; margin-right: 0px !important; max-width: 1150px !important; transition: opacity 0.3s !important; }
.nav-dropdown-full > li.nav-dropdown-col { white-space: normal; }
.nav-dropdown-has-arrow li.has-dropdown::after, .nav-dropdown-has-arrow li.has-dropdown::before { border: solid transparent; bottom: -2px; content: ""; height: 0px; left: 50%; opacity: 0; pointer-events: none; position: absolute; width: 0px; z-index: 10; }
.nav-dropdown-has-arrow li.has-dropdown::after { border-color: rgba(222, 222, 222, 0) rgba(222, 222, 222, 0) rgb(255, 255, 255); border-width: 8px; margin-left: -8px; }
.nav-dropdown-has-arrow li.has-dropdown::before { border-width: 11px; margin-left: -11px; z-index: -999; }
.nav-dropdown-has-arrow .ux-nav-vertical-menu .menu-item-design-custom-size::after, .nav-dropdown-has-arrow .ux-nav-vertical-menu .menu-item-design-custom-size::before, .nav-dropdown-has-arrow .ux-nav-vertical-menu .menu-item-design-default::after, .nav-dropdown-has-arrow .ux-nav-vertical-menu .menu-item-design-default::before, .nav-dropdown-has-arrow li.has-dropdown.menu-item-design-container-width::after, .nav-dropdown-has-arrow li.has-dropdown.menu-item-design-container-width::before, .nav-dropdown-has-arrow li.has-dropdown.menu-item-design-full-width::after, .nav-dropdown-has-arrow li.has-dropdown.menu-item-design-full-width::before { display: none; }
.nav-dropdown-has-shadow .nav-dropdown { box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 15px; }
.nav-dropdown-has-arrow.nav-dropdown-has-border li.has-dropdown::before { border-bottom-color: rgb(221, 221, 221); }
.nav-dropdown-has-border .nav-dropdown { border: 2px solid rgb(221, 221, 221); }
.nav-dropdown-has-arrow li.current-dropdown.has-dropdown::after, .nav-dropdown-has-arrow li.current-dropdown.has-dropdown::before { opacity: 1; transition: opacity 0.25s; }
.nav p { margin: 0px; padding-bottom: 0px; }
.nav, .nav ul:not(.nav-dropdown) { margin: 0px; padding: 0px; }
.nav > li > a.button, .nav > li > button { margin-bottom: 0px; }
.nav { align-items: center; display: flex; flex-flow: wrap; width: 100%; }
.nav, .nav > li { position: relative; }
.nav > li { display: inline-block; list-style: none; margin: 0px 7px; padding: 0px; transition: background-color 0.3s; }
.nav > li > a { align-items: center; display: inline-flex; flex-wrap: wrap; padding: 10px 0px; }
.html .nav > li > a { padding-bottom: 0px; padding-top: 0px; }
.nav-small .nav > li > a, .nav.nav-small > li > a { font-weight: 400; padding-bottom: 5px; padding-top: 5px; vertical-align: top; }
.nav-small.nav > li.html { font-size: 0.75em; }
.nav-center { justify-content: center; }
.nav-fill { justify-content: space-between; }
.nav-left { justify-content: flex-start; }
.nav-right { justify-content: flex-end; }
.nav-column > li > a, .nav-dropdown > li > a, .nav-vertical-fly-out > li > a, .nav > li > a { color: rgba(102, 102, 102, 0.85); transition: 0.2s; }
.nav-column > li > a, .nav-dropdown > li > a { display: block; }
.nav-column li.active > a, .nav-column li > a:hover, .nav-dropdown li.active > a, .nav-dropdown > li > a:hover, .nav-vertical-fly-out > li > a:hover, .nav > li.active > a, .nav > li.current > a, .nav > li > a.active, .nav > li > a.current, .nav > li > a:hover { color: rgba(18, 18, 18, 0.85); }
.nav li:first-child { margin-left: 0px !important; }
.nav li:last-child { margin-right: 0px !important; }
.nav-uppercase > li > a { font-weight: bolder; letter-spacing: 0.02em; text-transform: uppercase; }
.nav-thin > li > a { }
@media (min-width: 850px) { .nav-divided > li { margin: 0px 0.7em; } }
@media (min-width: 850px) { .nav-divided > li + li > a::after { border-left: 1px solid rgba(0, 0, 0, 0.1); content: ""; height: 15px; left: -1em; margin-top: -7px; position: absolute; top: 50%; width: 1px; } }
@media (min-width: 850px) { .nav-divided > li + li.icon-top > a::after { height: 50px; margin-top: -25px; } }
.nav-pagination > li > a, .nav-pagination > li > span { border: 2px solid; border-radius: 99px; display: block; font-size: 1.1em; font-weight: bolder; height: 2.25em; line-height: 2em; min-width: 2.25em; padding: 0px 7px; text-align: center; transition: 0.3s; vertical-align: top; width: auto; }
.nav-pagination > li i { font-size: 1.2em; top: -1px; vertical-align: middle; }
.nav-pagination > li > .current, .nav-pagination > li > a:hover, .nav-pagination > li > span:hover { background-color: var(--fs-color-primary); border-color: var(--fs-color-primary); color: rgb(255, 255, 255); }
.off-canvas .mobile-sidebar-slide { bottom: 0px; overflow: hidden; position: fixed; top: 0px; width: 100%; }
.off-canvas .mobile-sidebar-slide .sidebar-menu { height: 100%; padding-bottom: 0px; padding-top: 0px; transform: translateX(0px); transition: transform 0.3s; will-change: transform; }
.mobile-sidebar-levels-1 .nav-slide > li > .sub-menu, .mobile-sidebar-levels-1 .nav-slide > li > ul.children { bottom: 0px; display: none; left: 100%; opacity: 1; overflow: visible auto; padding-bottom: 20px; padding-right: 0px; padding-top: 20px; position: fixed; top: 0px; transform: none; width: 100%; }
.mobile-sidebar-levels-1 .nav-slide > li > .sub-menu > li, .mobile-sidebar-levels-1 .nav-slide > li > ul.children > li { align-items: center; display: flex; flex-flow: wrap; }
.mobile-sidebar-levels-1 .nav-slide > li > .sub-menu.is-current-slide, .mobile-sidebar-levels-1 .nav-slide > li > ul.children.is-current-slide { display: block; }
.mobile-sidebar-levels-1 .nav-slide > li > .sub-menu.is-current-parent, .mobile-sidebar-levels-1 .nav-slide > li > ul.children.is-current-parent { overflow-y: hidden; padding-right: 100%; width: 200%; }
.mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header), .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header) { border-top: 1px solid rgb(236, 236, 236); margin-bottom: 0px; margin-top: 0px; transition: background-color 0.3s; }
.mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header) > a, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header) > a { color: rgba(102, 102, 102, 0.85); font-size: 0.8em; letter-spacing: 0.02em; padding-bottom: 15px; padding-left: 20px; padding-top: 15px; text-transform: uppercase; }
.mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header).active, .mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header):hover, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header).active, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header):hover { background-color: rgba(0, 0, 0, 0.05); }
.mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header) > .sub-menu, .mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header) > ul.children, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header) > .sub-menu, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header) > ul.children { bottom: 0px; display: none; left: 200%; opacity: 1; overflow: visible auto; padding-bottom: 20px; padding-right: 0px; padding-top: 20px; position: fixed; top: 0px; transform: none; width: 100%; }
.mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header) > .sub-menu > li, .mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header) > ul.children > li, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header) > .sub-menu > li, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header) > ul.children > li { align-items: center; display: flex; flex-flow: wrap; }
.mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header) > .sub-menu.is-current-slide, .mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header) > ul.children.is-current-slide, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header) > .sub-menu.is-current-slide, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header) > ul.children.is-current-slide { display: block; }
.mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header) > .sub-menu.is-current-parent, .mobile-sidebar-levels-2 .nav-slide > li > .sub-menu > li:not(.nav-slide-header) > ul.children.is-current-parent, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header) > .sub-menu.is-current-parent, .mobile-sidebar-levels-2 .nav-slide > li > ul.children > li:not(.nav-slide-header) > ul.children.is-current-parent { overflow-y: hidden; padding-right: 100%; width: 200%; }
.nav-slide { height: 100%; overflow: visible auto; padding-top: 20px; }
.nav-slide .active > .toggle { transform: none; }
.nav-slide > li { flex-shrink: 0; }
.nav-slide-header .toggle { padding-left: 5px; text-align: left; width: 100%; margin-left: 0px !important; position: relative !important; top: 0px !important; }
.nav-slide-header .toggle i { font-size: 1.4em; margin-right: 2px; }
.text-center .nav-slide-header .toggle { width: auto; margin-left: auto !important; margin-right: auto !important; }
.nav-line-bottom > li > a::before, .nav-line-grow > li > a::before, .nav-line > li > a::before { background-color: var(--fs-color-primary); content: " "; height: 3px; left: 50%; opacity: 0; position: absolute; top: 0px; transform: translateX(-50%); transition: 0.3s; width: 100%; }
.nav-line-bottom > li.active > a::before, .nav-line-bottom > li:hover > a::before, .nav-line-grow > li.active > a::before, .nav-line-grow > li:hover > a::before, .nav-line > li.active > a::before, .nav-line > li:hover > a::before { opacity: 1; }
.nav:hover > li:not(:hover) > a::before { opacity: 0; }
.tabbed-content .nav-line-bottom::before { bottom: 0px; top: auto; }
.nav-line-grow > li > a::before { width: 0px; }
.nav-line-grow > li.active > a::before, .nav-line-grow > li:hover > a::before { width: 100%; }
.nav-line-bottom > li::after, .nav-line-bottom > li::before { display: none; }
.nav-line-bottom > li > a::before { bottom: 0px; top: auto; }
.nav-box > li.active > a, .nav-pills > li.active > a { background-color: var(--fs-color-primary); color: rgb(255, 255, 255); opacity: 1; }
.nav-tabs > li.active > a { background-color: rgb(255, 255, 255); }
.nav-dark .nav.nav-tabs > li.active > a { color: rgb(0, 0, 0); }
.nav-outline > li.active > a { border-color: currentcolor; color: var(--fs-color-primary); }
.tabbed-content .nav, .tabbed-content .tab-panels { width: 100%; }
.nav-box > li, .nav-outline > li, .nav-pills > li, .nav-tabs > li { margin: 0px; }
.nav-box > li > a, .nav-pills > li > a { line-height: 2.5em; padding: 0px 0.75em; }
.nav-pills > li > a { border-radius: 99px; }
.nav-tabs > li > a { background-color: rgba(0, 0, 0, 0.04); border-left: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); border-top: 2px solid rgb(221, 221, 221); padding-left: 15px; padding-right: 15px; }
.nav-tabs > li.active > a { border-top-color: var(--fs-color-primary); }
.nav-dark .nav-tabs > li:not(.active) > a { background-color: rgba(255, 255, 255, 0.1); border-color: transparent; }
.tabbed-content .nav-tabs > li { margin: 0px 0.1em -1px; }
.nav-tabs + .tab-panels { background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); padding: 30px; }
.nav-outline > li > a { border: 2px solid transparent; border-radius: 32px; line-height: 2.4em; padding: 0px 0.75em; position: relative; z-index: 10; }
@media (min-width: 850px) { .tabbed-content .nav-vertical { padding-top: 0px; width: 25%; } }
@media (min-width: 850px) { .nav-vertical + .tab-panels { border-left: 1px solid rgb(221, 221, 221); flex: 1 1 0%; padding: 0px 30px 30px; margin-top: 0px !important; } }
@media (min-width: 850px) { .tabbed-content .nav-vertical.nav-outline { padding-right: 15px; } }
.nav.nav-vertical { flex-flow: column; }
.nav.nav-vertical li { list-style: none; margin: 0px; width: 100%; }
.nav-vertical li li { font-size: 1em; padding-left: 0.5em; }
.nav-vertical .image-column { display: none !important; }
.nav-vertical > li { align-items: center; display: flex; flex-flow: wrap; }
.nav-vertical > li ul { width: 100%; }
.nav-vertical li li.menu-item-has-children { margin-bottom: 1em; }
.nav-vertical li li.menu-item-has-children:not(:first-child) { margin-top: 1em; }
.nav-vertical > li > a, .nav-vertical > li > ul > li a { align-items: center; display: flex; flex-grow: 1; width: auto; }
.nav-vertical li li.menu-item-has-children > a { color: rgb(0, 0, 0); font-size: 0.8em; font-weight: bolder; text-transform: uppercase; }
.nav-vertical > li.html { padding-bottom: 1em; padding-top: 1em; }
.nav-vertical > li > ul li a { color: rgb(102, 102, 102); transition: color 0.2s; }
.nav-vertical > li > ul li a:hover { color: rgb(17, 17, 17); opacity: 1; }
.nav-vertical > li > ul { margin: 0px 0px 2em; padding-left: 1em; }
.nav .children { left: -99999px; opacity: 0; position: fixed; transform: translateX(-10px); transition: background-color 0.6s, transform 0.3s, opacity 0.3s; }
@media (prefers-reduced-motion) { .nav .children { opacity: 1; transform: none; } }
.nav:not(.nav-slide) .active > .children { left: auto; opacity: 1; padding-bottom: 30px; position: inherit; transform: translateX(0px); }
.nav-sidebar.nav-vertical > li.menu-item.active, .nav-sidebar.nav-vertical > li.menu-item:hover { background-color: rgba(0, 0, 0, 0.05); }
.nav-sidebar.nav-vertical > li + li { border-top: 1px solid rgb(236, 236, 236); }
.dark .nav-sidebar.nav-vertical > li + li, .dark .nav-vertical-fly-out > li + li { border-color: rgba(255, 255, 255, 0.2); }
.nav-vertical > li + li { border-top: 1px solid rgb(236, 236, 236); }
.nav-vertical-fly-out > li + li { border-color: rgb(236, 236, 236); }
.nav-vertical.nav-line > li > a::before { height: 100%; left: auto; right: -2px; width: 3px; z-index: 1; }
.nav-vertical.nav-tabs > li > a { border: 0px; }
.nav-vertical.nav-tabs > li.active > a { border-left: 3px solid var(--fs-color-primary); }
.text-center .nav-vertical li { border: 0px; }
.text-center .nav-vertical li li, .text-center.nav-vertical li li { padding-left: 0px; }
.nav-vertical .mega-menu-item { width: 100%; }
.nav-vertical .header-button, .nav-vertical .social-icons { display: block; width: 100%; }
@media screen and (min-width: 849px) { .col-divided > .col-inner > .nav-wrapper > .nav-vertical { width: calc(100% + 31px); } }
.header-vertical-menu__opener { align-items: center; background-color: var(--fs-color-primary); display: flex; flex-direction: row; font-size: 0.9em; font-weight: 600; height: 50px; justify-content: space-between; padding: 12px 15px; width: 250px; }
.header-vertical-menu__opener .icon-menu { font-size: 1.7em; margin-right: 10px; }
.header-vertical-menu__tagline { display: block; font-size: 0.9em; font-weight: 400; line-height: 1.3; }
.header-vertical-menu__title { flex: 1 1 auto; }
.header-vertical-menu__fly-out { background-color: rgb(255, 255, 255); opacity: 0; position: absolute; visibility: hidden; width: 250px; z-index: 9; }
.header-vertical-menu__fly-out .nav-vertical-fly-out { align-items: stretch; display: flex; flex-direction: column; }
.header-vertical-menu__fly-out .nav-vertical-fly-out > li.menu-item { list-style: none; margin: 0px; position: static; }
.header-vertical-menu__fly-out .nav-vertical-fly-out > li.menu-item[class*=" label-"] > a::after, .header-vertical-menu__fly-out .nav-vertical-fly-out > li.menu-item[class^="label-"] > a::after { order: 2; top: 0px; }
.header-vertical-menu__fly-out .nav-vertical-fly-out > li.menu-item > a > i.icon-angle-down { margin-left: auto; margin-right: -0.1em; order: 3; transform: rotate(-90deg); }
.header-vertical-menu__fly-out .nav-vertical-fly-out > li.menu-item > a { align-items: center; display: flex; padding: 10px 15px; }
.header-vertical-menu__fly-out .nav-vertical-fly-out li.has-icon-left > a > i, .header-vertical-menu__fly-out .nav-vertical-fly-out li.has-icon-left > a > img, .header-vertical-menu__fly-out .nav-vertical-fly-out li.has-icon-left > a > svg { margin-right: 10px; }
.header-vertical-menu__fly-out .nav-top-link { font-size: 0.9em; order: 1; }
.header-vertical-menu__fly-out .current-dropdown .nav-dropdown { left: 100% !important; top: 0px; }
.header-vertical-menu__fly-out .current-dropdown.menu-item .nav-dropdown { min-height: 100%; }
.header-vertical-menu__fly-out--open { opacity: 1; visibility: visible; }
.sticky-hide-on-scroll--active .header-vertical-menu__fly-out, .stuck .header-vertical-menu__fly-out { opacity: 0; visibility: hidden; }
.header-wrapper:not(.stuck) .header-vertical-menu__fly-out { transition: opacity 0.25s, visibility 0.25s; }
.header-vertical-menu__fly-out.has-shadow { box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 15px; }
.header-vertical-menu:hover .header-vertical-menu__fly-out { opacity: 1; visibility: visible; }
.nav > li > a.button, .nav > li > a.button:hover { padding-bottom: 0px; padding-top: 0px; }
.nav > li > a.button:hover { color: rgb(255, 255, 255); }
.header-buttons .button { margin-bottom: 0px; margin-right: 0.65em; }
.header-button { display: inline-block; }
.header-button .plain.is-outline:not(:hover) { color: rgb(153, 153, 153); }
.nav-dark .header-button .plain.is-outline:not(:hover) { color: rgb(255, 255, 255); }
.header-button .button { margin: 0px; }
.dark .form-flat input:not([type="submit"]), .dark .form-flat select, .dark .form-flat textarea, .nav-dark .form-flat input:not([type="submit"]), .nav-dark .form-flat select, .nav-dark .form-flat textarea { border-color: rgba(255, 255, 255, 0.09); color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.2) !important; }
.dark .form-flat select, .nav-dark .form-flat select { background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E"); }
.dark .form-flat input::-webkit-input-placeholder, .nav-dark .form-flat input::-webkit-input-placeholder { color: rgb(255, 255, 255); }
.header a.icon:not(.button) { margin-left: 0.3em; margin-right: 0.3em; }
.header .nav-small a.icon:not(.button) { font-size: 1em; }
.nav > li > a > i { font-size: 20px; transition: color 0.3s; vertical-align: middle; }
.nav > li > a > i + span { margin-left: 5px; }
.nav li.has-icon-left > a > i, .nav li.has-icon-left > a > img, .nav li.has-icon-left > a > svg { margin-right: 5px; }
.nav > li > a > span + i { margin-left: 5px; }
.nav-small > li > a > i { font-size: 1em; }
.nav > li > a > i.icon-search { font-size: 1.2em; }
.nav > li > a > i.icon-menu { font-size: 1.9em; }
.nav > li.has-icon > a > i { min-width: 1em; }
.nav-vertical > li > a > i { font-size: 16px; opacity: 0.6; }
.header-button a.icon:not(.button) { display: inline-block; padding: 6px 0px; }
.header-button a.icon:not(.button) i { font-size: 24px; }
.header-button a.icon:not(.button) i.icon-search { font-size: 16px; }
.nav-small .header-button a.icon:not(.button) { padding: 3px 0px; }
.nav-small .image-icon { height: 16px; margin: 0px 5px; width: 16px; }
.nav-small .image-icon img { vertical-align: top; }
.nav-small [data-icon-label]::after { font-size: 10px; height: 13px; line-height: 13px; min-width: 13px; right: -10px; top: -4px; }
.mfp-bg { background: rgb(11, 11, 11); height: 100%; left: 0px; opacity: 0; overflow: hidden; position: fixed; top: 0px; transition: opacity 0.25s; width: 100%; z-index: 1042; }
.mfp-bg.mfp-ready { opacity: 0.6; }
.mfp-bg.mfp-removing { opacity: 0 !important; }
.mfp-wrap { backface-visibility: hidden; position: fixed; z-index: 1043; outline: none !important; }
.mfp-container, .mfp-wrap { height: 100%; left: 0px; top: 0px; width: 100%; }
.mfp-container { box-sizing: border-box; padding: 30px; position: absolute; text-align: center; }
.mfp-container::before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.mfp-image-holder { padding: 40px 6.66%; }
.mfp-align-top .mfp-container::before { display: none; }
.mfp-content { display: inline-block; margin: 0px auto; max-width: 100%; opacity: 0; position: relative; text-align: left; transform: translateY(-30px); transition: transform 0.5s, opacity 0.3s; vertical-align: middle; z-index: 1045; }
.mfp-content-inner { box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0px; }
.mfp-ready .mfp-content { opacity: 1; transform: translateY(0px); }
.mfp-ready.mfp-removing .mfp-content { opacity: 0; }
.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content { cursor: auto; width: 100%; }
.mfp-ajax-cur { cursor: progress; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close { cursor: zoom-out; }
.mfp-zoom { cursor: zoom-in; }
.mfp-auto-cursor .mfp-content { cursor: auto; }
.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader { user-select: none; }
.mfp-loading.mfp-figure { display: none; }
.mfp-hide { display: none !important; }
.mfp-preloader { color: rgb(204, 204, 204); left: 8px; margin-top: -0.8em; position: absolute; right: 8px; text-align: center; top: 50%; width: auto; z-index: 1044; }
.mfp-preloader a { color: rgb(204, 204, 204); }
.mfp-preloader a:hover { color: rgb(255, 255, 255); }
.mfp-s-error .mfp-content, .mfp-s-ready .mfp-preloader { display: none; }
.mfp-close { backface-visibility: hidden; box-shadow: none; color: rgb(255, 255, 255); cursor: pointer; font-family: Arial, monospace; font-size: 40px; font-style: normal; font-weight: 300; height: 40px; line-height: 40px; min-height: 0px; mix-blend-mode: difference; opacity: 0; outline: none; padding: 0px; position: fixed; right: 0px; text-align: center; text-decoration: none; top: 0px; transition: opacity 0.6s 0.15s, transform 0.3s; width: 40px; z-index: 1046; margin: 0px !important; }
.mfp-close svg { pointer-events: none; }
.mfp-content .mfp-close { position: absolute; }
.mfp-ready .mfp-close { opacity: 0.6; }
.mfp-removing .mfp-close { display: none !important; }
.mfp-close:hover { opacity: 1; }
.mfp-close-btn-in .mfp-close { color: currentcolor; top: 0px !important; }
.mfp-counter { color: rgb(204, 204, 204); font-size: 12px; line-height: 18px; position: absolute; right: 0px; top: 0px; }
.mfp-arrow { color: rgb(255, 255, 255); height: 50px; margin: 0px; mix-blend-mode: difference; opacity: 0.6; position: fixed; text-align: center; top: 50%; width: 50px; z-index: 1046; }
.mfp-arrow i { font-size: 42px !important; pointer-events: none; }
.mfp-arrow:hover { opacity: 1; }
.mfp-arrow:active { top: 50.1%; }
.mfp-arrow-left { left: 0px; transform: translateX(100%); }
.mfp-arrow-right { right: 0px; transform: translateX(-100%); }
.mfp-ready .mfp-arrow-left, .mfp-ready .mfp-arrow-right { transform: translateX(0px); }
.mfp-iframe-holder { padding-bottom: 40px; padding-top: 40px; }
.mfp-iframe-holder .mfp-content, .mfp-inline-holder .ux-mfp-inline-content--video { line-height: 0; max-width: 900px; width: 100%; }
.mfp-iframe-holder .mfp-close { top: -40px; }
.mfp-iframe-scaler { height: 0px; overflow: hidden; padding-top: 56.25%; width: 100%; }
.mfp-iframe-scaler iframe { display: block; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }
.mfp-iframe-scaler iframe, .mfp-inline-holder .ux-mfp-inline-content--video { background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 8px; }
.mfp-inline-holder .ux-mfp-inline-content, img.mfp-img { margin: 0px auto; }
.mfp-figure, img.mfp-img { line-height: 0; }
.mfp-figure::after { background: rgb(68, 68, 68); inset: 0px 0px 40px; box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 8px; content: ""; display: block; height: auto; position: absolute; width: auto; z-index: -1; }
.mfp-figure small { color: rgb(189, 189, 189); display: block; font-size: 12px; line-height: 14px; }
.mfp-figure figure { margin: 0px; }
.mfp-bottom-bar { cursor: auto; left: 0px; margin-top: -36px; position: absolute; top: 100%; width: 100%; }
.mfp-title { overflow-wrap: break-word; color: rgb(243, 243, 243); font-size: 11px; line-height: 18px; padding-right: 36px; text-align: left; }
.mfp-title a { color: rgb(243, 243, 243); text-decoration: underline; }
.mfp-title a:hover { color: rgb(243, 243, 243); opacity: 0.8; text-decoration: none; }
.mfp-image-holder .mfp-content { max-width: 100%; }
.mfp-gallery .mfp-image-holder .mfp-figure { cursor: pointer; }
@media screen and (max-height: 300px), screen and (max-width: 800px) and (orientation: landscape) { .mfp-img-mobile .mfp-image-holder { padding-left: 0px; padding-right: 0px; } }
@media screen and (max-height: 300px), screen and (max-width: 800px) and (orientation: landscape) { .mfp-img-mobile img.mfp-img { padding: 0px; } }
@media screen and (max-height: 300px), screen and (max-width: 800px) and (orientation: landscape) { .mfp-img-mobile .mfp-figure::after { bottom: 0px; top: 0px; } }
@media screen and (max-height: 300px), screen and (max-width: 800px) and (orientation: landscape) { .mfp-img-mobile .mfp-figure small { display: inline; margin-left: 5px; } }
@media screen and (max-height: 300px), screen and (max-width: 800px) and (orientation: landscape) { .mfp-img-mobile .mfp-bottom-bar { background: rgba(0, 0, 0, 0.6); bottom: 0px; box-sizing: border-box; margin: 0px; padding: 3px 5px; position: fixed; top: auto; } }
@media screen and (max-height: 300px), screen and (max-width: 800px) and (orientation: landscape) { .mfp-img-mobile .mfp-bottom-bar:empty { padding: 0px; } }
@media screen and (max-height: 300px), screen and (max-width: 800px) and (orientation: landscape) { .mfp-img-mobile .mfp-counter { right: 5px; top: 3px; } }
@media (max-width: 849px) { body.body-scroll-lock--active .mfp-wrap { overflow: auto; position: fixed !important; } }
@media (prefers-reduced-motion) { .mfp-bg, .mfp-close, .mfp-content { transition: opacity 0.3s; } }
.off-canvas .mfp-content { }
.off-canvas .nav-vertical > li > a { padding-bottom: 15px; padding-top: 15px; }
.off-canvas .nav-vertical li li > a { padding-bottom: 5px; padding-top: 5px; }
.off-canvas .hide-for-off-canvas { display: none !important; }
.off-canvas-left .mfp-content, .off-canvas-right .mfp-content { background-color: rgba(255, 255, 255, 0.95); bottom: 0px; box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px; left: 0px; overflow: hidden auto; position: fixed; top: 0px; transform: translateX(calc(var(--drawer-width)*-1)); transition: transform 0.2s; width: var(--drawer-width); }
.off-canvas-left.dark .mfp-content, .off-canvas-right.dark .mfp-content { background-color: rgba(26, 26, 26, 0.95); }
.off-canvas-right .mfp-content { left: auto; right: 0px; transform: translateX(var(--drawer-width)); }
.off-canvas-center .nav-vertical > li > a, .off-canvas-center .nav-vertical > li > ul > li a { justify-content: center; }
.off-canvas-center .nav-vertical > li > a { font-size: 1.5em; }
.off-canvas-center .mfp-container { padding: 0px; }
.off-canvas-center .mfp-content { max-width: 700px; overflow: hidden auto; padding-top: 50px; }
.off-canvas-center .mfp-content .searchform { margin: 0px auto; max-width: 260px; }
.off-canvas-center.mfp-bg.mfp-ready { opacity: 0.85; }
.mfp-bg.off-canvas-center:not(.dark) { background-color: rgb(255, 255, 255); opacity: 0.95; }
.off-canvas-center .nav-sidebar.nav-vertical > li { border: 0px; }
.off-canvas-center .nav-sidebar.nav-vertical > li > a { padding-left: 30px; padding-right: 30px; }
.off-canvas-center .nav-sidebar.nav-vertical > li .toggle { position: absolute; right: 0px; top: 15px; }
.off-canvas-center:not(.dark) .mfp-close { color: currentcolor; }
.off-canvas.mfp-removing .mfp-content { opacity: 0 !important; }
.off-canvas-left.mfp-ready .mfp-content, .off-canvas-right.mfp-ready .mfp-content { opacity: 1; transform: translate(0px); }
.has-off-canvas .off-canvas-blur { filter: blur(5px); }
.has-off-canvas .off-canvas-zoom { transform: scale(0.98); }
.off-canvas .sidebar-menu { padding: 30px 0px; }
.off-canvas .sidebar-inner { padding: 30px 20px; }
.off-canvas:not(.off-canvas-center) .nav-vertical li > a { padding-left: 20px; }
.off-canvas:not(.off-canvas-center) li.html { padding: 20px; }
@media (prefers-reduced-motion) { .off-canvas-left .mfp-content, .off-canvas-right .mfp-content { transition: opacity 0.2s; } }
.nav-dots-small .flickity-page-dots .dot, .row-slider .flickity-page-dots .dot { background-color: rgb(17, 17, 17); border: 0px; height: 10px; opacity: 0.2; width: 10px; }
.nav-dark a.plain:hover { opacity: 0.7; }
.nav > li > a { font-size: 0.8em; }
.nav > li.html { font-size: 0.85em; }
.nav-size-xsmall > li > a { font-size: 0.65em; }
.nav-size-small > li > a { font-size: 0.7em; }
.nav-size-medium > li > a { font-size: 0.9em; }
.nav-size-large > li > a { font-size: 1em; }
.nav-size-xlarge > li > a { font-size: 1.1em; }
.nav-spacing-xsmall > li { margin: 0px; }
.nav-spacing-small > li { margin: 0px 5px; }
.nav-spacing-medium > li { margin: 0px 9px; }
.nav-spacing-large > li { margin: 0px 11px; }
.nav-spacing-xlarge > li { margin: 0px 13px; }
@media (prefers-reduced-motion: no-preference) { .nav-anim > li { opacity: 0; transform: translateY(-15px); transition: transform 0.3s, opacity 0.3s; } }
@media (prefers-reduced-motion: no-preference) { .active .nav-anim > li, .mfp-ready .nav-anim > li, .nav-anim.active > li { opacity: 1; transform: none; } }
@media (prefers-reduced-motion: no-preference) { .col + .col [data-animate], .nav-anim > li, [data-animate-delay="200"], [data-animate] + [data-animate] { transition-delay: 0.2s; } }
@media (prefers-reduced-motion: no-preference) { .nav-anim > li + li, [data-animate-delay="300"] { transition-delay: 0.3s; } }
@media (prefers-reduced-motion: no-preference) { .col + .col + .col [data-animate], .nav-anim > li + li + li, [data-animate-delay="400"], [data-animate] + [data-animate] + [data-animate] { transition-delay: 0.4s; } }
@media (prefers-reduced-motion: no-preference) { .nav-anim > li + li + li + li, [data-animate-delay="500"] { transition-delay: 0.5s; } }
@media (prefers-reduced-motion: no-preference) { .col + .col + .col + .col [data-animate], .nav-anim > li + li + li + li + li, [data-animate-delay="600"], [data-animate] + [data-animate] + [data-animate] + [data-animate] { transition-delay: 0.6s; } }
@media (prefers-reduced-motion: no-preference) { .nav-anim > li + li + li + li + li + li, [data-animate-delay="700"] { transition-delay: 0.7s; } }
@media (prefers-reduced-motion: no-preference) { .col + .col + .col + .col + .col [data-animate], .nav-anim > li + li + li + li + li + li + li, [data-animate-delay="800"], [data-animate] + [data-animate] + [data-animate] + [data-animate] + [data-animate] { transition-delay: 0.8s; } }
@media (prefers-reduced-motion: no-preference) { .col + .col + .col + .col + .col + .col [data-animate], .nav-anim > li + li + li + li + li + li + li + li, [data-animate-delay="900"] { transition-delay: 0.9s; } }
@media (prefers-reduced-motion: no-preference) { .col + .col + .col + .col + .col + .col + .col [data-animate], .nav-anim > li + li + li + li + li + li + li + li + li, [data-animate-delay="1000"] { transition-delay: 1s; } }
.dark .nav-vertical li li.menu-item-has-children > a, .dark .nav-vertical-fly-out > li > a, .dark .nav-vertical > li > ul li a, .dark .nav > li.html, .dark .nav > li > a, .nav-dark .is-outline, .nav-dark .nav > li > a, .nav-dark .nav > li > button, .nav-dropdown.dark .nav-column > li > a, .nav-dropdown.dark > li > a { color: rgba(255, 255, 255, 0.8); }
.dark .nav-vertical-fly-out > li > a:hover, .dark .nav > li.active > a, .dark .nav > li > a.active, .dark .nav > li > a:hover, .nav-dark .nav > li.active > a, .nav-dark .nav > li.current > a, .nav-dark .nav > li > a.active, .nav-dark .nav > li > a:hover, .nav-dark a.plain:hover, .nav-dropdown.dark .nav-column > li > a:hover, .nav-dropdown.dark > li > a:hover { color: rgb(255, 255, 255); }
.dark.nav-dropdown.nav-dropdown-bold > li.nav-dropdown-col, .dark.nav-dropdown.nav-dropdown-simple > li.nav-dropdown-col, .nav-dark .header-divider::after, .nav-dark .nav-divided > li + li > a::after, .nav-dark .nav > li.header-divider, .nav-dropdown.dark .nav-column > li > a, .nav-dropdown.dark > li > a { border-color: rgba(255, 255, 255, 0.2); }
.dark .nav-vertical li li.menu-item-has-children > a, .nav-dark .header-button, .nav-dark .nav-vertical li li.menu-item-has-children > a, .nav-dark .nav > li.html { color: rgb(255, 255, 255); }
.nav-box a:hover span.amount, .nav-dark span.amount { color: currentcolor; }
.header, .header-wrapper { background-position: 50% 0px; background-size: cover; position: relative; transition: background-color 0.3s, opacity 0.3s; width: 100%; z-index: 1001; }
.header-bg-color { background-color: rgba(255, 255, 255, 0.9); }
.header-bottom, .header-top { align-items: center; display: flex; }
.header.has-transparent, .header.show-on-scroll, .header.transparent { position: absolute; }
.header.show-on-scroll:not(.stuck), .header.transparent:not(.stuck) { left: auto; right: auto; }
.header.show-on-scroll .header-wrapper { opacity: 0; transition: opacity 0.3s; visibility: hidden; }
.header.show-on-scroll .header-wrapper.stuck { opacity: 1; visibility: visible; }
.header.transparent .header-bg-color, .header.transparent .header-bg-image, .header.transparent .header-bottom, .header.transparent .header-wrapper { background-color: transparent; box-shadow: none; background-image: none !important; }
.header-bg-color, .header-bg-image { background-position: 50% 0px; transition: background 0.4s; }
.header-top { background-color: var(--fs-color-primary); min-height: 20px; position: relative; z-index: 11; }
.header-main { position: relative; z-index: 10; }
.header-bottom { min-height: 35px; position: relative; z-index: 9; }
.nav-dark .top-divider { display: none; }
.stuck { left: 0px; margin: 0px auto; position: fixed; right: 0px; top: 0px; }
.sticky-jump .stuck:not(.ux-no-animation) { animation: 0.6s ease 0s 1 normal none running stuckMoveDown; }
.sticky-fade .stuck:not(.ux-no-animation) { animation: 0.6s ease 0s 1 normal none running stuckFadeIn; }
.sticky-shrink .stuck .header-main { transition: height 0.8s; }
.stuck .header-inner, .stuck .logo, .stuck .logo img { margin-top: 0px; padding-top: 0px; }
.header-wrapper:not(.stuck) .logo img { transition: max-height 0.5s; }
.header.show-on-scroll .hide-for-sticky, .stuck .hide-for-sticky { display: none; }
.header-shadow .header-wrapper, .header-wrapper.stuck, .layout-shadow #wrapper { box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 10px; }
.nav > li.header-divider { border-left: 1px solid rgba(0, 0, 0, 0.1); height: 30px; margin: 0px 7.5px; position: relative; vertical-align: middle; }
.nav-dark .nav > li.header-divider { border-color: rgba(255, 255, 255, 0.1); }
.header-block { min-height: 15px; width: 100%; }
.header-full-width .container { max-width: 100% !important; }
@media (prefers-reduced-motion) { .sticky-jump .stuck { animation-name: stuckFadeIn; } }
@media (max-width: 549px) { .nav-mobile > li > a:not(.button) { line-height: 5em; } }
.header-logo-dark, .header-logo-sticky, .nav-dark .header-logo, .sticky .dark .header-logo-dark, .sticky .has-sticky-logo .header-logo { display: none !important; }
.nav-dark .header-logo-dark, .stuck .header-logo-sticky { display: block !important; }
.stuck .header-logo-sticky + img, .stuck .header-logo-sticky + img + img { display: none !important; }
.nav-dark .logo a, .nav-dark .logo-tagline { color: rgb(255, 255, 255); }
@media screen and (max-width: 849px) { .header-inner .nav { flex-wrap: nowrap; } }
.next-prev-thumbs .nav-dropdown { min-width: 90px; padding: 2px; width: 90px; }
.mobile-nav > .search-form, .sidebar-menu .search-form { padding: 5px 0px; width: 100%; }
.header .search-form .autocomplete-suggestions, .header-block .autocomplete-suggestions { max-height: 80vh; }
.col .live-search-results, .header .search-form .live-search-results, .header-block .live-search-results { background-color: rgba(255, 255, 255, 0.95); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px; color: rgb(17, 17, 17); left: 0px; position: absolute; right: 0px; text-align: left; top: 105%; }
.header li .html .live-search-results { background-color: transparent; box-shadow: none; position: relative; top: 0px; }
.dark .social-icons, .nav-dark .social-icons { color: rgb(255, 255, 255); }
.dark .social-icons .button.is-outline, .nav-dark .social-icons .button.is-outline { border-color: rgba(255, 255, 255, 0.5); }
.off-canvas-right .mfp-content, .off-canvas-left .mfp-content { --drawer-width: 300px; }
.header-main { height: 76px; }
.header-bottom { min-height: 80px; }
.header-top { min-height: 30px; }
.transparent .header-main { height: 30px; }
.header.show-on-scroll, .stuck .header-main { height: 80px !important; }
.stuck #logo img { max-height: 80px !important; }
.header-bg-color { background-color: rgb(255, 255, 255); }
.header-bottom { background-color: rgb(16, 51, 74); }
.header-bottom-nav > li > a { line-height: 30px; }
@media (max-width: 549px) { .header-main { height: 80px; } }
.nav-dropdown { font-size: 100%; }
.nav > li > a { font-family: Mulish, sans-serif; }
.mobile-sidebar-levels-2 .nav > li > ul > li > a { font-family: Mulish, sans-serif; }
.nav > li > a, .mobile-sidebar-levels-2 .nav > li > ul > li > a { font-weight: 700; font-style: normal; }
h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a { font-family: Mulish, sans-serif; }
.header:not(.transparent) .header-nav-main.nav > li > a { color: rgb(44, 44, 44); }
.header:not(.transparent) .header-nav-main.nav > li > a:hover, .header:not(.transparent) .header-nav-main.nav > li.active > a, .header:not(.transparent) .header-nav-main.nav > li.current > a, .header:not(.transparent) .header-nav-main.nav > li > a.active, .header:not(.transparent) .header-nav-main.nav > li > a.current { color: rgb(211, 36, 43); }
.header-nav-main.nav-line-bottom > li > a::before, .header-nav-main.nav-line-grow > li > a::before, .header-nav-main.nav-line > li > a::before, .header-nav-main.nav-box > li > a:hover, .header-nav-main.nav-box > li.active > a, .header-nav-main.nav-pills > li > a:hover, .header-nav-main.nav-pills > li.active > a { color: rgb(255, 255, 255) !important; background-color: rgb(211, 36, 43); }
.header:not(.transparent) .header-bottom-nav.nav > li > a { color: rgb(255, 255, 255); }
.header:not(.transparent) .header-bottom-nav.nav > li > a:hover, .header:not(.transparent) .header-bottom-nav.nav > li.active > a, .header:not(.transparent) .header-bottom-nav.nav > li.current > a, .header:not(.transparent) .header-bottom-nav.nav > li > a.active, .header:not(.transparent) .header-bottom-nav.nav > li > a.current { color: rgb(195, 156, 117); }
.header-bottom-nav.nav-line-bottom > li > a::before, .header-bottom-nav.nav-line-grow > li > a::before, .header-bottom-nav.nav-line > li > a::before, .header-bottom-nav.nav-box > li > a:hover, .header-bottom-nav.nav-box > li.active > a, .header-bottom-nav.nav-pills > li > a:hover, .header-bottom-nav.nav-pills > li.active > a { color: rgb(255, 255, 255) !important; background-color: rgb(195, 156, 117); }
.nav-vertical-fly-out > li + li { border-top-width: 1px; border-top-style: solid; }
.nav > li > a { padding-top: 0px; padding-bottom: 0px; }
h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a, .nav > li > a { font-family: "San Francisco Display Bold"; font-weight: bold; }
.nav-dropdown { min-width: unset; }
.nav-dropdown-default .nav-column li > a, .nav-dropdown.nav-dropdown-default > li > a { white-space: nowrap; font-weight: bold; color: rgb(0, 0, 0); }
.stuck #logo img, #logo img { z-index: 9; position: relative; max-height: unset !important; }
.header:not(.transparent) .header-nav-main.nav > li.active > a { color: rgb(0, 0, 0); }
.nav-line-bottom > li > a::before { height: 2px; bottom: 0px; content: ""; left: 0px; position: absolute; transition: width 0.5s cubic-bezier(0.13, 0.61, 0.64, 0.99); width: 0px; transform: unset; }
.nav-line-bottom > li.active > a::before, .nav-line-bottom > li > a:hover::before { width: 100%; }
.nav-line-bottom > li > a { padding-bottom: 2px; }
.nav-line-bottom .nav-dropdown > li > a:hover { color: rgb(211, 36, 43); }
.nav-spacing-xlarge > li { margin: 0px 20px; }
.nav-pagination > li > a, .nav-pagination > li > span { border-width: medium; border-style: none; border-color: currentcolor; border-image: none; border-radius: 5px; }
.nav-pagination > li > .current, .nav-pagination > li > a:hover, .nav-pagination > li > span:hover { background: rgb(0, 0, 0); border-color: rgb(0, 0, 0); }
.nav-left { justify-content: center; }
.sec_portfolio .nav { margin-bottom: 15px; }
.sec_portfolio .nav2 { margin-bottom: 30px; }
.nav-divided li, .nav-divided a, .nav-divided span { border-width: medium !important; border-style: none !important; border-color: currentcolor !important; border-image: none !important; }
.nav-divided a, .nav-divided a span { font-size: 20px; }
.nav-divided span, .nav-divided a { color: rgb(0, 0, 0); }
.nav-divided > li + li > a::after { display: none; }
.nav-divided > li.tab { width: 20%; text-align: center; }
.nav-divided > li:hover > a span, .nav-divided > li.active > a span, .nav-divided > li:hover > a, .nav-divided > li.active > a { color: rgb(210, 36, 42); }
.nav-divided > li > a { position: relative; }
.nav-divided > li > a::before { position: absolute; content: ""; width: 15px; height: 15px; background: rgb(0, 0, 0); border-radius: 100%; top: -7.5px; left: 50%; transform: translateX(-50%); opacity: 1 !important; }
.nav-divided > li:hover > a::before, .nav-divided > li.active > a::before { background: rgb(211, 36, 43); }
.sticky-hide-on-scroll--active.sticky-fade .stuck:not(.ux-no-animation) { animation: 0.6s ease 0s 1 normal none running stuckFadeOut; }